body {
    font-family: "setimo", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }
#image {
    display: none; /* Hide image by default */
    margin-top: 20px;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

.button {
    text-decoration: none;
    font-size: 2rem;
    border: 0;
    color: orange;
    background-color: transparent;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}

input {
    font-size: 2rem;

}

.box2{
    display: flex;
    align-items: left flex-start;
    flex-direction: row;
    margin: 25px;
  }

  .link{
    font-size: 2rem;
    margin-left: 25px;
    margin-right: 25px;
  }

  a{
    text-decoration: none;
    color: orange;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }