body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#image {
    display: none; /* Hide image by default */
    margin-top: 20px;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

.button {
    text-decoration: none;
    font-size: 2rem;
    border: 0;
    background-color: white;
    &:hover{
        color: rgb(255, 140, 0);
        opacity: 0.7;
    }
}

input {
    font-size: 2rem;

}