  /* Basic styles for layout */
  body{
    text-align:center; 
    font-family: "setimo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }
  .home{
    width: 600px;
  }
  
  .box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
  }

  .box2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 25px;
  }
  .boxnew{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 75px;
  }
  .box3{
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
  }
  .box4{
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
  }

  .imgcontainer{
    background-color: gray;
    width: 400px;
  }

  .link{
    font-size: 2rem;
    margin-left: 25px;
    margin-right: 25px;
  }

  a{
    text-decoration: none;
    color: orange;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }
  
  .slidecontainer{
    margin-bottom: 1rem; 
  }
  
  
  select{
    margin-bottom: 1rem; 
  }
  

  input{
    font-size: 1.5rem;
    border: 0;
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    &:hover{
        color: orange;
        cursor: pointer;
    }

  }
  button{
    border: 0;
    font-size: 2rem;
    margin-top: 20px;
    padding: 15px;
    background-color: transparent;
    color: orange;
    font-weight: 800;
    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
  }

  #userInput{
    color: orange;
  }

  #sizeSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 10px; /* Specified height */
    border-radius: 10px;
    background-color: rgb(255, 211, 130); /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  #sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 13px; /* Set a specific slider handle width */
    height: 19px; /* Slider handle height */
    background: url(./img/slider.png);
    cursor: pointer; /* Cursor on hover */
  }

  #opacitySlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 10px; /* Specified height */
    border-radius: 10px;
    background-color: rgb(255, 211, 130); /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  #opacitySlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 13px; /* Set a specific slider handle width */
    height: 19px; /* Slider handle height */
    background: url(./img/slider.png);
    cursor: pointer; /* Cursor on hover */
  }


      